.footer { position: fixed;
  overflow: hidden;
  bottom: 0px;
  width:100%;
  font-size:2.5vw;
  text-align: center;
  white-space: nowrap;
  padding:1vw ;
  z-index: 1001}
.footer-item {     transition-duration:0.5s;    text-decoration: none;   display:none }
.footer-item:nth-of-type(-n+5){

  display:inline-block;
}

.nooutline {outline: none;}
.big {font-size: 10vw;padding:0px 4vw}
@media screen and (orientation:landscape) {
.footer {top:0px;
  right:0px;
  width:10vh;
  height:100vh;
  white-space: unset;
  padding: 2vh;
  font-size: 2.1vh;
}

 .big {    font-size: 9vh;
  padding: 5vh 0 0 0;}
 .footer-item:nth-of-type(-n+8){

  display:inline-block;
}
}
