.footer { position: fixed;
    overflow: hidden;
    bottom: 0px;
    width:100%;
    text-align: center;
    white-space: nowrap;
    background-color: white;}
.footer-item {    display:none }
.footer-item:nth-of-type(-n+5){
    display:inline-block;
}
  .big {font-size: 11vw;padding:2px 2vw}