
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav> 
<app-mat-sidenav></app-mat-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="noscrollbar">

  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Status Board</h1>
  </mat-toolbar>
 

<mat-chip-list class="i" multiple="true">
  <mat-chip selected (click)="chips(31)" color="accent" >All</mat-chip>
  <mat-chip [selected]="filter % 2 >= 1" (click)="chips(1)">Work</mat-chip>
  <mat-chip [selected]="filter % 4 >= 2"  (click)="chips(2)">Out</mat-chip>
    <mat-chip [selected]="filter % 8 >= 4"  (click)="chips(4)">ABS</mat-chip>
    <mat-chip [selected]="filter % 16 >= 8" (click)="chips(8)">LUNCH</mat-chip>
    <mat-chip [selected]="filter % 32 >= 16"  (click)="chips(16)">BRK</mat-chip>
</mat-chip-list>

<mat-progress-spinner (focus)=getperiod(i) style="margin: auto;margin-top: 30vh" *ngIf="bksvc.StatusBoard==null" mode="indeterminate"></mat-progress-spinner>

<div class="norecord">No Record Found</div>
<div class="list" *ngIf="bksvc.StatusBoard!=null">


<mat-card class="mat-elevation-z16 stb">
 <mat-form-field class="block" appearance="outline">
    <mat-label>Filter by Code or Name</mat-label>
    <input type="text" #filter1 matInput placeholder="">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
<ng-container  *ngFor="let item of bksvc.StatusBoard; let i = index">

   <ng-container *ngIf="filterme(item.Code+item.Name,filter1.value) && ((filter % 4 >= 2 && item.Status==3) || (filter % 2 >= 1 && item.Status==0) || (filter % 8 >= 4 && item.Status==4) || (filter % 16 >= 8 && item.Status==1)|| (filter % 32 >= 16 && item.Status==2))">


      <app-empphotoicon EmpID="{{bksvc.codetoid[item.Code]}}" name="{{item.Name}}"></app-empphotoicon>
     <mat-card-subtitle class="name"> ({{item.Code}}) {{item.Name}}
  <span *ngIf="item.LastPunch>''"><small><br>Last Punch: {{item.LastPunch}}</small> </span>
    </mat-card-subtitle>
    
    <mat-card-subtitle class="right middle inflex" ngClass="{{item.StatusStr}}">
   <span class="small material-icons">infofull</span><span class="m4">{{item.StatusStr}}</span>
    </mat-card-subtitle>
  <mat-divider class="limited"></mat-divider>




 </ng-container>
</ng-container>
</mat-card> 
</div>
<br>








<app-footer></app-footer>
 
    </mat-sidenav-content>
  </mat-sidenav-container>