
.small {font-size:10px!important}
.norecord {
      
    text-align: center;
    width: 100%;margin-top:15px}
    .list {margin-top:-30px}
    .m4 {
    width: 120px;
    text-align: center;
}
.sigbody {text-align:center;padding:10px}
.img {width:100%;border:1px solid #eee}
mat-chip {width: 14%;
    justify-content: center;
    font-size:2.7vw;
    }
    .imageframe {
      margin: 4px;
    overflow: hidden;
    padding:10px;
    background-color:white;
    }
.sigbody button {width:130px;margin:10px}
.sigimg, .signature-pad {width:100%;height:auto;border:1px solid #888}


        @media screen and (orientation:landscape) {
       mat-chip {width: 15%;
    font-size:2.4vh;
    }
     }
.pagination button {margin:4px}
.pagination {text-align:center}

     .Canceled{color:#888}
     .Declined{color:darkred}
     .Signed{color:#049275}

        