
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav> 
<app-mat-sidenav></app-mat-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>

  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Usigned</h1>
  </mat-toolbar>
 
  <ng-container *ngFor="let item of Document; let i = index" >
<mat-card class="stb mat-elevation-z4">

<mat-card-subtitle>{{item.DisplayName}} </mat-card-subtitle>
<mat-card-content>Modified: {{item.ChangeDate}}</mat-card-content>
<mat-card-content>Owner: {{item.Owner}}</mat-card-content>
<mat-card-content>Status: {{item.StatusStr}}</mat-card-content>
</mat-card>
</ng-container>


<app-footer></app-footer>
 
    </mat-sidenav-content>
  </mat-sidenav-container>
