
.small {font-size:10px!important}
.norecord {
      
    text-align: center;
    width: 100%;margin-top:15px}
    .list {margin-top:-30px}
    .m4 {
    width: 120px;
    text-align: center;
}
.img {width:100%}
mat-chip {width: 14%;
    justify-content: center;
    font-size:2.7vw;
    }
    .imageframe {
      margin: 4px;
    border-radius: 25px;
    overflow: hidden;
    }


        @media screen and (orientation:landscape) {
       mat-chip {width: 15%;
    font-size:2.4vh;
    }
     }

     .Canceled{color:darkorange}
     .Declined{color:darkred}
     .Signed{color:green}

        