agm-map   {height: 40vh;}
.cord {position: absolute;
    bottom: 5px;
    margin-bottom: 2px;
    
  }
  .topinfo {padding:2px!important}
.topinfo>button {width:130px;     font-size: 15px;
    font-weight: 400;margin:5px}
    .date { width: 100px;
    text-align: center;
    line-height: 2em;
    border-right: 3px solid #eee;
    vertical-align: text-bottom;
    padding: 15px 0.8vw 15px 0px;
    margin: -15px 0px -15px;
    display: inline-block;
    }
   .date button {bottom: 0px;
    display: block;
    height: 0px;} 
.comment {
margin: 10px 0 0 !important;
    font-style: italic;
}    
.title {
     display: inline-block;
 
    font-size:18px;
    padding-left: 1.8vw;
    width: calc(100% - 107px - 3vw);
    vertical-align: top;
}


   @media screen and (orientation:landscape) {
       mat-chip {width: 15%;
    justify-content: center;
    font-size:2.4vh;
    }

     .float {position:fixed;right:10px;bottom:10px}
    .title {
    padding-left: 1.8vw;
    width: calc(100% - 107px - 5vw);
}
     }