<mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav> 
<app-mat-sidenav></app-mat-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>

  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Mileage Tracking</h1>
  </mat-toolbar>

<ng-container *ngIf="bksvc.lasttrip.Id==0" >
<button (click)= starttrip() class="round-corners"  mat-flat-button color="accent"  ><mat-icon>truck</mat-icon>Start Trip</button>
</ng-container>
<ng-container *ngIf="bksvc.lasttrip.Id!=0" >

<div class="stb sm-round-corners  mat-elevation-z2 topinfo" > 
<agm-map class="sm-round-corners" (mapReady)="mapReady()" [zoom]=18 [latitude]="lat" [longitude]="lng">
<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<p>{{address}}</p>


<button (click)= bksvc.EndTrip() class="round-corners"  mat-stroked-button color="warn" > <mat-icon>finish</mat-icon> End Trip</button>

<button (click)= starttrip() class="round-corners"  mat-flat-button color="accent"><mat-icon>location</mat-icon> Add Location</button>

<button (click)= bksvc.CancelTrip() class="round-corners"  mat-stroked-button color="primary" > <mat-icon>done</mat-icon> Cancel Trip</button>
</div>

<ng-container *ngIf="bksvc.lasttrip!=undefined">
<mat-card  class="stb" *ngFor="let item of bksvc.lasttrip.Locations let i = index">


{{item.AddressLine}}
{{item.DateStr}}
{{item.LocationString}}

</mat-card>
</ng-container>
</ng-container>
<app-footer></app-footer>
 
    </mat-sidenav-content>
  </mat-sidenav-container>