
  <mat-toolbar color="primary" class="example-toolbar">
    <a class="mat-primary-color" routerLink="/login" ><button  mat-icon-button><mat-icon>arrow_back_ios</mat-icon></button></a>
    <a class="mat-primary-color settings" routerLink="/settings"><button  mat-icon-button ><mat-icon>iconsettings</mat-icon></button></a>
</mat-toolbar>

<app-complogo class="center"></app-complogo>
<hr class="round-corners  title">
<h2>Forgot Password</h2>
<div class="mat-elevation-z16 round-corners center">

  <mat-form-field appearance="outline" class="center">
    <mat-label>Validation Code:</mat-label>
     <mat-icon class="icon mat-primary-color" matPrefix>done</mat-icon>
    <input matInput [(ngModel)]="validation">

  </mat-form-field>
  <br> 
  <br>
  <mat-form-field appearance="outline" class="center">
    <mat-label>Password</mat-label>
     <mat-icon class="icon mat-primary-color"  matPrefix>lock</mat-icon>
    <input type=password matInput (value)="bksvc.password">
  </mat-form-field>
<br>
<br><br>
 <button class="center round-corners" mat-flat-button (click)="validate()" color="primary">Reset Password</button>
</div>