
.noheight {height:0px}
.newpadding {font-size:small!important; padding: 5px 0 7px 0!important;text-align:left!important}

.left-button {margin-right:5px}
.right-button {margin-left:5px}

 

table.mat-table {
    border-spacing: 0;
	border-radius: 25px;
    background: #fff;
}



th.mat-header-cell,  td.mat-footer-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

th.mat-header-cell {
 background: #fff;
padding: 18px 0px 18px 0px;
}



tr.mat-row td{

 border-top: 1px solid #e0e0e0;
    font-size: 16px;
    text-align:center;
   padding: 14px 0px 14px 0px;
}


tr.mat-footer-row td {
    font-size: 16px;
    text-align:center;
    background: #fff;
   padding: 4px 0px 4px 0px;
}





tr.mat-header-row,tr.mat-footer-row  {

filter:drop-shadow(0px 0px 4px #777)}
.footer1 {filter:none!important}
.newpadding:before    { content: "";
    display: block;
    margin-top: -6px;
    width: 95%;
    height: 0px;
    padding-top: 4px;
    border-top: 1px solid #e0e0e0;}


table { border-radius:25px}

table tr th:last-child, tr.mat-footer-row td.footer2{
  border-radius:0 25px 25px 0;
transition:0.2s;
transition-property: border-radius;
}

table tr th {position: relative}



.sticked1 {
  border-top-right-radius:0!important;
 border-top-left-radius:0!important;
}


  table tr th:first-child,   table tr.mat-footer-row  td:first-child{
  border-radius:25px 0 0 25px;
transition:0.2s;
transition-property: border-radius;
}

tr.mat-footer-row  td.footer3{
  border-radius:0 0 25px 0!important;
transition:0.2s;
   position:relative;
    white-space: nowrap;
}
tr.mat-footer-row  td.footer2{
  border-radius:0 25px 0 0;
transition:0.2s;
}

tr.mat-footer-row  td.footer4 {  border-radius:0 25px 25px 0;
transition:0.2s;
 height:44px!important; }

tr.noborder td,tr:nth-of-type(1)   {border:none!important;bottom:27px!important}





