
  <mat-sidenav-container class="example-sidenav-container">
 <mat-sidenav #snav> 
<app-mat-sidenav></app-mat-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="noscrollbar" (scroll)=onResize()>

  <mat-toolbar  color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Timecard</h1>
  </mat-toolbar>


<div id="slider" class="slider noscrollbar" (window:resize)=onResize() (scroll)=onResize()>
<div id="slide{{i}}" class="slide" *ngFor="let item of this.bksvc.timecard;index as i;"> 


   <ng-container *ngIf="item!=null">
<div class="mat-elevation-z2 topinfo" id=top{{i}}> 
  <button mat-mini-fab color="primary" class="left-button" [disabled]="i==0" (click)=gototab(-1)>  <mat-icon>arrow-left</mat-icon></button>
{{item.StartDate}} - 
{{item.EndDate}}
<button  mat-mini-fab color="primary" class="right-button" [disabled]="i==this.bksvc.AMGSettings.PayPeriodBackLimit-1" (click)=gototab(1)>
  <mat-icon>arrow-right</mat-icon>
  </button>
{{item.Status}}
{{item.TimeCardApprovalStatus}}

<div *ngIf='item.TimeCardApprovalStatus==2'>
  {{item.TimeCardApprovalStatus}}
 
  <button class="center round-corners" mat-flat-button  (click)=this.bksvc.approverejecttimecard(i,true) color="accent"><span class="material-icons">done</span> Approve</button>
&nbsp;
   <button class="center round-corners" mat-flat-button (click)=this.bksvc.approverejecttimecard(i,false) color="warn"><span class="material-icons">
close
</span> Reject</button>
</div> 

<div *ngIf='item.TimeCardApprovalStatus==1'>
 <h3> Approved</h3>
 
</div> 


</div> 

<table id="tbl{{i}}" class="mat-elevation-z8 mat-table" >
 <tr mat-header-cell class="mat-header-row"> <th class="mat-header-cell" *ngFor="let col of displayedColumns">{{col}}</th></tr>

   <tbody>
  <ng-container *ngFor="let data of item.Timecard">
 <tr  class="mat-row"> 
   <td class="mat-cell" [attr.rowspan]=getRow(data.Details)>{{data.Date}}</td>
   <td [ngClass]="{'noborder': data.Details!=''}" class="mat-cell">{{data.Hours}}</td>
   <td [ngClass]="{'noborder': data.Details!=''}" class="mat-cell">{{data.REG}}</td>
   <td [ngClass]="{'noborder': data.Details!=''}" class="mat-cell">{{data.TotalOT}}</td>
   <td [ngClass]="{'noborder': data.Details!=''}" class="mat-cell">{{data.Unpaid}}</td>
   <td [ngClass]="{'noborder': data.Details!=''}" class="mat-cell">{{data.Money}}</td>
   </tr>
   <tr  [ngClass]="{'hidecell': data.Details==''}"  class="mat-row"><td class="newpadding mat-cell" colspan=5>{{data.Details}}</td><tr>
  </ng-container>
</tbody>
<tr class="mat-footer-row"> 
   <td class="footer1 mat-footer-cell" [attr.rowspan]=getRow(item.Footer.Details)>{{item.Footer.Date}}</td>
   <td [ngClass]="{'noborder': item.Footer.Details!=''}" class="mat-footer-cell">{{item.Footer.Hours}}</td>
   <td [ngClass]="{'noborder': item.Footer.Details!=''}" class="mat-footer-cell">{{item.Footer.REG}}</td>
   <td [ngClass]="{'noborder':item.Footer.Details!=''}" class="mat-footer-cell">{{item.Footer.TotalOT}}</td>
   <td [ngClass]="{'noborder':item.Footer.Details!=''}" class="mat-footer-cell">{{item.Footer.Unpaid}}</td>
   <td [ngClass]="item.Footer.Details!='' ? 'noborder footer2 mat-footer-cell' : 'footer4 mat-footer-cell'">{{item.Footer.Money}}</td>
   </tr>
  <tr [ngClass]="{'hidecell': item.Footer.Details==''}"  class="mat-row"><td 
  
  class="footer3 newpadding mat-footer-cell" colspan=5>{{item.Footer.Details}}</td><tr>
 </table> <br>

 </ng-container>
<mat-progress-spinner (focus)=getperiod(i) style="margin: auto;margin-top: 30vh" *ngIf="item==null" mode="indeterminate"></mat-progress-spinner>
  
</div>  

</div>
<app-footer></app-footer> 



 
    </mat-sidenav-content>
  </mat-sidenav-container>