
  <mat-sidenav-container class="example-sidenav-container">
 <mat-sidenav #snav> 
<app-mat-sidenav></app-mat-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="noscrollbar">

  <mat-toolbar color="primary" class="example-toolbar">
 <button *ngIf="first" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <button *ngIf="!first" (click)=scrollto(0) mat-icon-button><mat-icon>arrow_back_ios</mat-icon></button>
    <h1 class="example-app-name">Time Off Requests</h1>
  </mat-toolbar>


<mat-chip-list class="i" multiple="true">
  <mat-chip id="all" selected (click)="chips(31)" color="accent" >All</mat-chip>
  <mat-chip [selected]="filter % 2 >= 1" (click)="chips(1)">Approved</mat-chip>
  <mat-chip [selected]="filter % 4 >= 2"  (click)="chips(2)">Pending</mat-chip>
    <mat-chip [selected]="filter % 8 >= 4"  (click)="chips(4)">Denied</mat-chip>
</mat-chip-list>

<div id="slider" appSlider (scroll)=scroll() class="slider noscrollbar" >
<div id="slide0" class="slide snap">
<mat-progress-spinner style="margin: 30vh auto" *ngIf="bksvc.timeofrequests==undefined" mode="indeterminate"></mat-progress-spinner>

<app-chooseemployee (ngModelChange)="myEmployee=$event;scrollto(1)" [filter]=filterfn *ngIf="bksvc.timeofrequests!=undefined" rightside="requescount"></app-chooseemployee>
</div>
<div id="slide1" class="slide snap">
 


 <mat-progress-spinner style="margin: 30vh auto" *ngIf="bksvc.timeofrequests==undefined" mode="indeterminate"></mat-progress-spinner>


<ng-container *ngIf="myEmployee!==undefined">
 <div  class="stb mat-elevation-z2 topinfo"><span>  ({{myEmployee.Code}}) {{myEmployee.Name}}</span></div>
<ng-container *ngFor="let item of bksvc.timeofrequests; let i = index" >
<mat-card *ngIf="item.From=='('+myEmployee.Code+') '+myEmployee.Name && ((filter % 4 >= 2 && item.Status==0) || (filter % 2 >= 1 && item.Status==1) || (filter % 8 >= 4 && item.Status==2)) " class="stb mat-elevation-z4">
<mat-card-subtitle class=date>
   <mat-progress-spinner style="margin:-5px 2px -25px" *ngIf="bksvc.cancel[item.Id]==1" mode="indeterminate"></mat-progress-spinner>
 <span *ngIf="bksvc.cancel[item.Id]==undefined"> {{item.Date}}
  <button  class="mat-primary-color" *ngIf="item.Comment" mat-icon-button (click)="showDiv = !showDiv"><mat-icon>info</mat-icon></button>
  </span>
   </mat-card-subtitle>

<mat-card-title class=title>{{item.Category}} 
  <div class="button" *ngIf="item.Status==0">
<button class="round-corners" mat-flat-button  (click)=bksvc.ApproveOrDenyTimeOff(item.Id,0) color="accent"><span class="material-icons">done</span> Approve</button>
<br><br>
   <button class="round-corners" mat-flat-button (click)=bksvc.ApproveOrDenyTimeOff(item.Id,1) color="warn"><span class="material-icons">
close
</span> Deny</button>
 </div>
<mat-card-content ngClass="{{item.StatusStr}}">{{item.StatusStr}}</mat-card-content>

<mat-card-content *ngIf="item.Duration>''" class="t3">Duration: {{item.Duration}}</mat-card-content>
<mat-card-content *ngIf="item.HoursLeft>''" class="t3">Left: {{item.HoursLeft}}</mat-card-content>
<ng-container *ngIf="item.Comment">

<mat-card-subtitle class="comment" *ngIf="showDiv">{{item.Comment}} </mat-card-subtitle>
</ng-container>

</mat-card-title>




</mat-card>
</ng-container>
</ng-container>
</div>

  </div>
 <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
