div.round-corners {min-width:300px;width:50vw;padding:4vw;text-align:center}
div {background-color:#fff}
.mat-form-field  {width:100%}
mat-checkbox {float:left}
a {float:right}
button.round-corners {width:50%;padding:1vw;}
app-complogo {max-width:300px; display: block;width:40%;margin:4vh auto}