
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav> 
<app-mat-sidenav></app-mat-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>

  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Open Shifts</h1>
  </mat-toolbar>
 

  <app-datechooser futureonly=true buttons=[0,1,3] [(datemode)]="viewmode" (thdateChange)=godate($event) [(thdate)]="mydate">


  </app-datechooser>

<app-footer></app-footer>
 
    </mat-sidenav-content>
  </mat-sidenav-container>