<table *ngIf="ttype==0" id="tbl{{i}}" class="mat-elevation-z8 mat-table" >
 <tr mat-header-cell class="mat-header-row"> <th class="mat-header-cell" *ngFor="let col of displayedColumns[ttype]">{{col}}</th></tr>

   <tbody>
  <ng-container *ngFor="let data of item.Timecard; last as isLast;first as isFirst">

 <tr [ngClass]="isLast?'mat-footer-row':isFirst?'noborder mat-row':'mat-row'" class="mat-row"> 
   <td [attr.rowspan]=getRow(data.Details)>{{data.Date}}</td>
   <td>{{data.Hours}}</td>
   <td>{{data.REG}}</td>
   <td>{{data.TotalOT}}</td>
   <td>{{data.Unpaid}}</td>
   <td [ngClass]="!ck(data.Details)?'footer4':'footer2'">{{data.Money}}</td>
   </tr>
   <ng-container *ngIf="ck(data.Details)">
   <tr [ngClass]="isLast?'footer1 mat-footer-row':' noborder mat-row'"><td class="newpadding footer3" colspan=5>{{data.Details}}</td><tr>
   </ng-container>
  </ng-container>
</tbody>

 </table>
 
 
 
 
 
 <table *ngIf="ttype==2" id="tbl{{i}}" class="mat-elevation-z8 mat-table" >
 <tr mat-header-cell class="mat-header-row"> <th class="mat-header-cell" *ngFor="let col of displayedColumns[ttype]">{{col}}</th></tr>

   <tbody>
  <ng-container *ngFor="let data of item.Transactions; last as isLast;first as isFirst">

 <tr [ngClass]="isLast?'mat-row1':isFirst?'noborder mat-row':'mat-row'" class="mat-row"> 
   <td [attr.rowspan]=getRow(data.Comment)>{{data.Date}}</td>
   <td>{{data.Time}}</td>
   <td>{{data.Action}}</td>
   <td [ngClass]="!ck(data.Comment)?'footer3':''">{{data.Device}}</td>
   </tr>
    <ng-container *ngIf="ck(data.Comment)">
   <tr [ngClass]="isLast?'footer1 mat-row1':' noborder mat-row'"><td class="newpadding footer3" colspan=3>{{data.Comment}}</td><tr>
   </ng-container>
   

  </ng-container>
</tbody>

 </table>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 <br>