<table *ngIf="ttype==0" id="tbl{{i}}" class="mat-elevation-z8 mat-table" >
 <tr mat-header-cell class="mat-header-row"> <th class="mat-header-cell" *ngFor="let col of displayedColumns">{{col}}</th></tr>

   <tbody>
  <ng-container *ngFor="let data of item.Timecard; last as isLast;first as isFirst">

 <tr [ngClass]="isLast?'mat-footer-row':isFirst?'noborder mat-row':'mat-row'" class="mat-row"> 
   <td [attr.rowspan]=getRow(data)>{{data.Date}}</td>
   <td>{{data.Hours}}</td>
   <td>{{data.REG}}</td>
   <td>{{data.TotalOT}}</td>
   <td>{{data.Unpaid}}</td>
   <td [ngClass]="!ck(data)?'footer4':'footer2'">{{data.Money}}</td>
   </tr>
   <ng-container *ngIf="ck(data)">
   <tr [ngClass]="isLast?'footer1 mat-footer-row':' noborder mat-row'"><td class="newpadding footer3" colspan=5>{{data.Details}}</td><tr>
   </ng-container>
  </ng-container>
</tbody>

 </table><br>