      <app-complogo  class="logo"></app-complogo>
      <div class="ss">
  
      <app-empphotoicon class="emp" EmpID="{{this.bksvc.AMGSettings.Id}}" name="{{this.bksvc.AMGSettings.FullName}}"></app-empphotoicon>
      <span class="span">
      <strong>{{this.bksvc.AMGSettings.FullName}}</strong>
      <br>
      <span class="trans">
      {{this.bksvc.AMGSettings.CompanyName}}
      </span>
      </span>

      </div>

      <mat-nav-list>
      <a mat-list-item  routerLinkActive="mat-accent-bg" routerLink="{{nav.action}}" *ngFor="let nav of this.bksvc.SideNavigation"> 
        <span class="material-icons">{{nav.icon}}</span>&nbsp;&nbsp;{{nav.text}}</a>

      </mat-nav-list>
