
<div class=scroll>
<mat-form-field  *ngIf="data.AMGSettings.Comments" appearance="fill">
    <mat-label>Comment</mat-label>
    <input type=text matInput [(ngModel)]="Comment">
  </mat-form-field>

<mat-nav-list>
        <a mat-list-item   *ngFor="let item of data.AMGSettings.DevActions; let i = index" class="mdc-list-item" tabindex="0">
           <span class="material-icons">{{item.StrValue}}</span>&nbsp;&nbsp; {{item.StrValue}}
          </a>
          <!-- ... -->
   
      </mat-nav-list>
</div>
      <div mat-dialog-actions class=bottom>
  <button class="round-corners" mat-flat-button (click)="onDismiss()">Cancel</button>
  <button class="round-corners" mat-flat-button color="primary" (click)="onConfirm()">Done</button>
</div>