
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav> 
<app-mat-sidenav></app-mat-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>

  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Schedule</h1>
  </mat-toolbar>

<div class="mat-elevation-z2 topinfo" id=top{{i}}> 
  <button mat-mini-fab class="arrow-button left-button" (click)=chips(viewmode,-1)>  <mat-icon>arrowleft</mat-icon></button>
  <div class="mid-title">
<mat-form-field class="limit">
   <input matInput touchUi=true (ngModelChange)=chips(viewmode) [(ngModel)]="mydate" [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
</mat-form-field></div>
<button  mat-mini-fab class="arrow-button right-button" (click)=chips(viewmode,1)>
  <mat-icon>arrowright</mat-icon>
  </button>
</div> 



<mat-chip-list class="i" >
  <mat-chip [selected]="viewmode==0" (click)="chips(0)">Daily</mat-chip>
  <mat-chip [selected]="viewmode==1"  (click)="chips(1)">Weekly</mat-chip>
   </mat-chip-list>

 <mat-card class="stb">
  <ng-container *ngFor="let item of bksvc.AdvancedScheduling.Coworkers; let i = index">

   <app-empphotoicon EmpID="{{item.EmployeeId}}" name="{{item.Name}} {{item.LastName}}"></app-empphotoicon>
  <mat-card-subtitle class="name">  
   
  <h3 class="mat-primary-color">{{item.Name}} {{item.LastName}}</h3>
  <span class="t3" *ngIf='item.DepName>""'>Department: {{item.DepName}} </span>
 
   <span class="t3" *ngIf='item.DivisionName>""'>Division: {{item.DivisionName}} </span>
   <span class="t3" *ngIf='item.JobName>""'>Job: {{item.JobName}} </span>
   <span class="t3" *ngIf='item.Shift>""'>Shift: {{item.Shift}} </span> 

  </mat-card-subtitle>
  <mat-divider class="limited"></mat-divider>
</ng-container>
</mat-card>
<app-footer></app-footer>
 
    </mat-sidenav-content>
  </mat-sidenav-container>