
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav> 
<app-mat-sidenav></app-mat-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>

  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Schedule</h1>
  </mat-toolbar>
 

  <app-datechooser buttons=[0,1,2] [(datemode)]="viewmode" (thdateChange)=godate($event) [(thdate)]="mydate">

<ng-container *ngIf="viewmode==1">
<mat-card  *ngFor="let item of bksvc.AdvancedScheduling.Schedules; let i = index">Simple card
{{item.CanDrop}}
{{item.CanPickup}}
{{item.CanSwap}}
{{item.Date}}
{{item.DepName}}
{{item.DivisionName}}
{{item.GroupName}}
{{item.Id}}
{{item.IsDraft}}
{{item.JobName}}
{{item.Shift}}
{{item.SkillName: ""
</mat-card>


</ng-container>



<ng-container *ngIf="viewmode==0">
   <mat-expansion-panel [expanded]="true" class="stb" *ngIf='bksvc.AdvancedScheduling!=undefined && bksvc.AdvancedScheduling.Coworkers.length>0'>
      <mat-expansion-panel-header>
      <mat-panel-title><h2>Coworkers</h2></mat-panel-title>
       </mat-expansion-panel-header>
  <ng-container *ngFor="let item of bksvc.AdvancedScheduling.Coworkers; let i = index">

   <app-empphotoicon EmpID="{{item.EmployeeId}}" name="{{item.Name}} {{item.LastName}}"></app-empphotoicon>
  <mat-card-subtitle class="name">  
   
  <h3 class="mat-primary-color">{{item.Name}} {{item.LastName}}</h3>
  <span class="t3" *ngIf='item.DepName>""'>Department: {{item.DepName}} </span>
 
   <span class="t3" *ngIf='item.DivisionName>""'>Division: {{item.DivisionName}} </span>
   <span class="t3" *ngIf='item.JobName>""'>Job: {{item.JobName}} </span>
   <span class="t3" *ngIf='item.Shift>""'>Shift: {{item.Shift}} </span> 

  </mat-card-subtitle>
  <mat-divider class="limited"></mat-divider>
</ng-container>
 </mat-expansion-panel>

</ng-container>


  </app-datechooser>

<app-footer></app-footer>
 
    </mat-sidenav-content>
  </mat-sidenav-container>