.limited {    margin: 6px 0 6px 1%;
    max-width: 98%;
    position: relative!important;}
mat-divider:last-of-type {display:none}
.t3 {width:50%;display:inline-block}

@media only screen and (max-width: 600px) {
.t3 {width:100%!important}

}

h4 {display:inline-block}
.h5 {width:100%;text-align:center;display:inline-block}
.name {
    display: inline-block;
        line-height: 160%;
    margin-bottom: 0px!important;
    width: calc(100% - 66px);
    vertical-align: middle;}
    .click {display: block;
    margin: -7px -16px;
    padding: 7px 16px;}
    .click:hover {background-color:#eee}
    .icon {padding: 0px 6px 0px 0px;
    font-size: 31px;
}



.limit {width:200px}












.date { width: 90px;
    text-align: center;
    line-height: 2em;
   vertical-align: text-bottom;
    padding-right: 1.8vw;
       margin: 0 0 0 -10px;
    display: inline-block;
    }
   .date button {bottom: 0px;
    display: block;
    height: 0px;} 
.comment {
margin: 10px 0 0 !important;
    font-style: italic;
}    
.title {
     display: inline-block;
    border-left: 3px solid #eee;
    padding-left: 1.8vw;
    width: calc(100% - 107px - 3vw);
    vertical-align: top;
}
.button {float:right}
.button .material-icons {    font-size: 17px;
    margin: 0px 5px 2px -5px;
}
.t3 {display:inline-block;width:45%;margin-bottom: 0px}

.small {font-size:10px!important}

    .list {margin-top:-30px}
    .m4 {
    width: 90px;
    text-align: center;
}
.img {width:100%}
mat-chip {width: 20%;
    justify-content: center;
    font-size:3vw;
    }
    .imageframe {
      margin: 4px;
    border-radius: 25px;
    overflow: hidden;
    }

.t1{width:60%}
.t2{width: 38%; margin: 0 0 0 2%}
.t3{width:50%}

     .float {position:fixed;right:10px;bottom:17vw}


  input[type="time"]::-webkit-calendar-picker-indicator {
  font-size:23px;
  opacity:0.7;
  margin:-5px 4px -4px 0px;

}

     @media screen and (orientation:landscape) {
       mat-chip {width: 15%;
    justify-content: center;
    font-size:2.4vh;
    }

     .float {position:fixed;right:10px;bottom:10px}
    .title {
    padding-left: 1.8vw;
    width: calc(100% - 107px - 5vw);
}
     }
.limited:last-of-type {border-color:#0f7da2}

.st {text-align:center;font-size: 17px;
    margin: 17px 0px;}
