
  <mat-sidenav-container class="example-sidenav-container">
 <mat-sidenav #snav> 
<app-mat-sidenav></app-mat-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="noscrollbar">

  <mat-toolbar color="primary" class="example-toolbar">
 <button *ngIf="first" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <button *ngIf="!first" (click)=scrollto(0) mat-icon-button><mat-icon>arrowleft</mat-icon></button>
    <h1 class="example-app-name">Time Off Requests</h1>
  </mat-toolbar>


  
<div id="slider" (scroll)=scroll() class="slider noscrollbar" >
<div id="slide0" class="slide snap">
 
<mat-chip-list class="i" multiple="true">
  <mat-chip selected (click)="chips(31)" color="accent" >All</mat-chip>
  <mat-chip [selected]="filter % 2 >= 1" (click)="chips(1)">Approved</mat-chip>
  <mat-chip [selected]="filter % 4 >= 2"  (click)="chips(2)">Pending</mat-chip>
    <mat-chip [selected]="filter % 8 >= 4"  (click)="chips(4)">Denied</mat-chip>
</mat-chip-list>

 <mat-progress-spinner style="margin: auto;margin-top: 30vh" *ngIf="bksvc.timeofrequests==null" mode="indeterminate"></mat-progress-spinner>

<div class="norecord">No Request Found</div>
 <div class="list"> 
<ng-container *ngFor="let item of bksvc.timeofrequests; let i = index" >
<mat-card *ngIf="(filter % 4 >= 2 && item.Status==0) || (filter % 2 >= 1 && item.Status==1) || (filter % 8 >= 4 && item.Status==2) " class="stb mat-elevation-z4">
<mat-card-subtitle class=date>{{item.Date}}
 
   </mat-card-subtitle>

<mat-card-title class=title>{{item.Category}} 
 <button *ngIf="item.Status!=2" mat-stroked-button color="warn" class="button" (click)=this.bksvc.canceltimeoff(item.Id)><span class="material-icons">
close
</span>Cancel</button>
<mat-card-content ngClass="{{item.StatusStr}}">{{item.StatusStr}}</mat-card-content>

<mat-card-content class="t3">Duration: {{item.Duration}}</mat-card-content>
<mat-card-content class="t3">Left: {{item.HoursLeft}}</mat-card-content>

</mat-card-title>




</mat-card>
</ng-container>
</div>
<button *ngIf="first" (click)="scrollto(1)" color="primary" mat-fab class="float"><mat-icon>plus</mat-icon></button>
</div>
<div id="slide1" class="slide snap">
  <mat-card class="mat-elevation-z16 stb"> 
  <mat-form-field class="block" appearance="outline">
  <mat-label>Choose Category</mat-label>
  <mat-select>
    <ng-container *ngIf="bksvc.Categories!=null">
    <mat-option *ngFor="let item of bksvc.Categories.Categories" [value]="item.Id">
      {{item.Display}} <span class="mat-grey-color">Left:</span> {{item.Left}}
    </mat-option>
    </ng-container>
  </mat-select>
</mat-form-field>
 
<mat-radio-group [(ngModel)]="type" aria-label="Select an option" class="block mat-form-field-wrapper">
  <mat-radio-button value="1" class="t3">Full Day</mat-radio-button>
  <mat-radio-button value="2" class="t3">Partial Day</mat-radio-button>
</mat-radio-group>

<mat-form-field appearance="outline" class="t1">
   <mat-label>Star Days</mat-label>
  <input matInput [matDatepicker]="myDatepicker">
  <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
  <mat-datepicker #myDatepicker></mat-datepicker>
</mat-form-field>

 <mat-form-field appearance="outline" class="t2">
    <mat-label>Number of work days</mat-label>
    <input matInput type=number>
  </mat-form-field>

 <ng-container *ngIf="type==2">
   <mat-form-field appearance="outline" class="t1">
    <mat-label>Start Times</mat-label>
    <input matInput type=time>
  </mat-form-field>

   <mat-form-field appearance="outline" class="t2">
    <mat-label>Number of hours</mat-label>
    <input matInput type=number>
  </mat-form-field>
   </ng-container>
   <mat-form-field appearance="outline" class="block">
    <mat-label>Comments</mat-label>
    <input matInput>
    
  </mat-form-field>
</mat-card>
<br><br>
  </div></div>
 <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
