
  <mat-sidenav-container class="example-sidenav-container">
 <mat-sidenav #snav> 
<app-mat-sidenav></app-mat-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="noscrollbar">

  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Time Off Requests</h1>
  </mat-toolbar>
 
<mat-chip-list class="i" multiple="true">
  <mat-chip selected (click)="chips(31)" color="accent" >All</mat-chip>
  <mat-chip [selected]="filter % 2 >= 1" (click)="chips(1)">Approved</mat-chip>
  <mat-chip [selected]="filter % 4 >= 2"  (click)="chips(2)">Pending</mat-chip>
    <mat-chip [selected]="filter % 8 >= 4"  (click)="chips(4)">Denied</mat-chip>
</mat-chip-list>

 <mat-progress-spinner style="margin: auto;margin-top: 30vh" *ngIf="timeofrequests==null" mode="indeterminate"></mat-progress-spinner>

<div class="norecord">No Request Found</div>
 <div class="list"> 
<ng-container *ngFor="let item of timeofrequests; let i = index" >
<mat-card *ngIf="(filter % 4 >= 2 && item.Status==0) || (filter % 2 >= 1 && item.Status==1) || (filter % 8 >= 4 && item.Status==2) " class="stb mat-elevation-z4">
<mat-card-subtitle class=date>{{item.Date}} </mat-card-subtitle>
<mat-card-title class=title>{{item.Category}} 
<mat-card-content>{{item.StatusStr}}</mat-card-content>

<mat-card-content class="t3">Taken: {{item.Duration}}</mat-card-content>
<mat-card-content class="t3">Left: {{item.HoursLeft}}</mat-card-content>
<mat-card-actions> <button  mat-stroked-button color="warn">Cancel</button></mat-card-actions>
</mat-card-title>




</mat-card>
</ng-container>
</div>
 <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
