<h1 mat-dialog-title class="center100">{{title}}</h1>
<div mat-dialog-content>
	<p class="line-breaker">{{message}}</p>
</div>
<mat-form-field appearance="outline">
	<mat-label>Currency</mat-label><input placeholder="0.00" [(ngModel)]="myvalue" type=number
 matInput id='dialogcomment'></mat-form-field>
	<div mat-dialog-actions class="center100">
		<button mat-stroked-button color="primary" (click)=onDismiss() class="round-corners">Cancel</button><button mat-flat-button color="primary" (click)=onConfirm() class="round-corners">OK</button>
	</div>