
  <mat-sidenav-container class="example-sidenav-container">


 <mat-sidenav #snav> 
<app-mat-sidenav></app-mat-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>

  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Main Screen</h1>
  </mat-toolbar>



<ng-container *ngIf="this.bksvc.AMGSettings.IsEmployee">
<ng-container *ngIf="this.bksvc.AMGSettings.CanPunch">
<mat-form-field  *ngIf="this.bksvc.AMGSettings.Comments" appearance="fill">
    <mat-label>Comment</mat-label>
    <input type=text matInput [(ngModel)]="Comment">
  </mat-form-field>


  <button mat-button (click)="this.bksvc.transact(this.bksvc.AMGSettings.ExpectedAction.Value)" color="primary">{{this.bksvc.AMGSettings.ExpectedAction.StrValue}}</button>
  <br>
<button mat-button (click)="this.bksvc.punchmenu()" color="primary">{{this.bksvc.AMGSettings.ExpectedAction.StrValue}}</button>


       
</ng-container>




<ng-container *ngIf="this.bksvc.AMGSettings.CanPunch==false">
Cant Punch
</ng-container>
















</ng-container>







<ng-container *ngIf="this.bksvc.AMGSettings.IsEmployee==false">
 <mat-progress-spinner style="margin: 30vh auto" *ngIf="this.bksvc.SummeryInfo==undefined" mode="indeterminate"></mat-progress-spinner>
<ng-container *ngIf="this.bksvc.SummeryInfo.length!=0">
<mat-card class="stb"  ><mat-card-subtitle >{{Sections[1]}}
</mat-card-subtitle> 
<mat-card-actions>
   <ngx-charts-advanced-pie-chart
  (select)="onSelect($event)"
  [animations]=true
    [gradient]="gradient"
  [scheme]="colorScheme"
  [results]="single"
>
</ngx-charts-advanced-pie-chart>
</mat-card-actions> 


</mat-card>


<mat-card class="stb t3"  ><mat-card-subtitle ><a>{{Sections[0]}}:

 {{bksvc.SummeryInfo[0].Count}} <mat-icon>arrowright</mat-icon></a>
</mat-card-subtitle>  

</mat-card>

<mat-card class="stb t3"  ><mat-card-subtitle ><a>{{Sections[2]}}:
 {{bksvc.SummeryInfo[4].Count}} <mat-icon>arrowright</mat-icon></a>
</mat-card-subtitle> 

</mat-card>


<button class="center round-corners" mat-flat-button (click)="GetSummaryInfo() " color="primary"><mat-icon>tao</mat-icon> Punch For Employee</button>


</ng-container></ng-container>













<app-footer></app-footer>














    </mat-sidenav-content>
  </mat-sidenav-container>
