.limited {    margin: 6px 0 6px 1%;
    max-width: 98%;
    position: relative!important;}
mat-divider:last-of-type {display:none}
.block {display:block!important}
.name {
    display: inline-block;
    margin-bottom: 0px!important;
    max-width: calc(100% - 66px);
    vertical-align: middle;}
    .click {display: block;
    margin: -7px -16px;
    padding: 7px 16px;}
    .click:hover {}