
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav> 
<app-mat-sidenav></app-mat-sidenav>
    </mat-sidenav>

    <mat-sidenav-content (scroll)=scroll() class="noscrollbar">

   <mat-toolbar color="primary" class="example-toolbar">
 <button *ngIf="first" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <button *ngIf="!first" (click)=scrollto(0) mat-icon-button><mat-icon>arrow_back_ios</mat-icon></button>
    <h1 class="example-app-name">Attendance</h1>
  </mat-toolbar>
<div id="slider"  (window:resize)=scroll() (scroll)=scroll() class="slider noscrollbar" >
<div id="slide0" class="slide snap">

<app-chooseemployee (ngModelChange)="myEmployee=$event;getperiod(0);scrollto(1)" ></app-chooseemployee>
</div>
<div id="slide1" class="slide snap">
  <ng-container *ngIf="this.bksvc.timecard!=null">
<div class="stb round-corners  mat-elevation-z2 topinfo" id=top{{i}}> 
  <button mat-mini-fab  class="arrow-button left-button"  (click)="getperiod(1)">  <mat-icon>arrowleft</mat-icon></button>
  <div  class="mid-title">{{bksvc.timecard.StartDate}} - 
{{bksvc.timecard.EndDate}}</div>
<button  mat-mini-fab  class="arrow-button right-button" [disabled]="period<=0" (click)="getperiod(-1)">
  <mat-icon>arrowright</mat-icon>
  </button>
  <span *ngIf="myEmployee!=undefined">({{myEmployee.Code}}) {{myEmployee.Name}}&nbsp;
&nbsp;&nbsp;&nbsp;<span [ngClass]="bksvc.timecard.StatusStr"> {{bksvc.timecard.StatusStr}}</span>

  </span>
</div> 


<app-subtimecard ttype=1 *ngIf="bksvc.timecard!=undefined" [i]=period [item]=this.bksvc.timecard></app-subtimecard>
  </ng-container> 

    
</div></div>
<app-footer></app-footer>
 
    </mat-sidenav-content>
  </mat-sidenav-container>