
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav> 
<app-mat-sidenav></app-mat-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="noscrollbar">

   <mat-toolbar color="primary" class="example-toolbar">
 <button *ngIf="first" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <button *ngIf="!first" (click)=scrollto(0) mat-icon-button><mat-icon>arrow_back_ios</mat-icon></button>
    <h1 class="example-app-name">Attendance</h1>
  </mat-toolbar>
<div id="slider" (scroll)=scroll() class="slider noscrollbar" >
<div id="slide0" class="slide snap">

<app-chooseemployee (ngModelChange)="myEmployee=$event;scrollto(1)" ></app-chooseemployee>
</div>
<div id="slide1" class="slide snap">

<div class="stb round-corners  mat-elevation-z2 topinfo" id=top{{i}}> 
  <button mat-mini-fab  class="arrow-button left-button" [disabled]="i==0" (click)=gototab(-1)>  <mat-icon>arrowleft</mat-icon></button>
  <div  class="mid-title">
{{item.StartDate}} - 
{{item.EndDate}}</div>
<button  mat-mini-fab  class="arrow-button right-button" [disabled]="i==bksvc.AMGSettings.PayPeriodBackLimit-1" (click)=gototab(1)>
  <mat-icon>arrowright</mat-icon>
  </button>
</div> 


    <app-datechooser [empname]="myEmployee!==undefined?'('+myEmployee.Code+') '+myEmployee.Name:null" (thdateChange)=godate($event) [(thdate)]="mydate">
       </app-datechooser>
</div></div>
<app-footer></app-footer>
 
    </mat-sidenav-content>
  </mat-sidenav-container>