
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav> 
<app-mat-sidenav></app-mat-sidenav>
    </mat-sidenav>

    <mat-sidenav-content>

  <mat-toolbar color="primary" class="example-toolbar">
 <button *ngIf="first" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <button *ngIf="!first" (click)=scrollto(0) mat-icon-button><mat-icon>arrow_back_ios</mat-icon></button>
    <h1 class="example-app-name">Employee Punch</h1>
  </mat-toolbar>
  <div id="slider" (scroll)=scroll() class="slider noscrollbar" >
<div id="slide0" class="slide snap">
<app-chooseemployee (ngModelChange)="myEmployee=$event;scrollto(1)"></app-chooseemployee>
</div>
<div id="slide1" class="slide snap">
  <ng-container *ngIf="myEmployee!==undefined">
 <div  class="stb mat-elevation-z2 topinfo"><span>  ({{myEmployee.Code}}) {{myEmployee.Name}}</span></div> </ng-container>
</div>
</div>
<app-footer></app-footer>
 
    </mat-sidenav-content>
  </mat-sidenav-container>